<h1>Contact information</h1>

<div class="jumbotron text-center">
  <!-- <h1>Coming Soon</h1> -->

  <!-- <br/><br/> -->

  <p>Post us a message...</p>

  <div class="form-group row">
    <label for="example-text-input" class="col-2 col-form-label text-left">Subject</label>
    <div class="col-10">
      {{input type="subject" value=subjectLine class="form-control" placeholder="RE: hey" autofocus="autofocus"}}
    </div>
  </div>

  <div class="form-group">
    <label for="exampleTextarea">Message</label>
    <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
  </div>

  <div class="col-xs-10 col-xs-offset-1 col-sm-offset-0 col-sm-4 col-md-3">
    <button class="btn btn-primary btn-lg btn-block" disabled={{isDisabled}} {{action 'saveMessage'}}>Post Message</button>
      <!-- <button disabled={{isDisabled}} class="btn btn-primary btn-lg btn-block">Request invitation</button> -->
  </div>

  <!-- {{#if responseMessage}}
    <div class="alert alert-success">{{responseMessage}}</div>
  {{/if}} -->

  <br/><br/>
</div>
